$color-section-title: #515151;
$color-text-main: #555252;
$color-text-black: #0f0101;
$color-accent: #1abc9c;
$color-button-hover: #25a88c;
$color-white: #fff;
$color-section-color: #e9effd;
$color-product-name-background: #323232;
$color-price-background: #8c8c8c;
$color-price-hover: #7fd9c7;
$font-primary: 'Open Sans';
$font-secondary: 'Roboto';
