.section-odd {
  padding-top: 100px;
  padding-bottom: 100px;
  background: $color-section-color;
}
.section-even {
  padding-top: 100px;
  padding-bottom: 100px;
}
.product__card-overlay {
  position: relative;
  width: 255px;
  height: 282px;
  overflow: hidden;
  &::before {
    display: block;
    position: absolute;
    content: '';
    width: 255px;
    height: 282px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.4);
    border: 10px solid rgba(255, 255, 255, 0.6);
    transform: translateY(100%);
    overflow: hidden;
  }
}

.product {
  display: flex;
  flex-wrap: wrap;
}
.product__item {
  margin-right: 30px;
  margin-bottom: 30px;
  &:nth-child(4n) {
    margin-right: 0px;
  }
  &:nth-last-child(-n + 4) {
    margin-bottom: 0px;
  }
}

.actions {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  width: 166px;
  height: 106px;
  opacity: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.actions__button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: 1px solid $color-white;
  padding: 0;
  margin-right: 8px;
  margin-bottom: 6px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:nth-last-child(2) {
    margin-right: 0;
  }
  &:hover,
  &:focus {
    background-color: $color-accent;
  }
}

.actions__icon {
  box-sizing: border-box;
  display: block;
  width: 32px;
  height: 32px;
  fill: $color-white;
}

.actions__button--cart {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 166px;
  margin: 0px;
  font-size: 14px;
  color: $color-white;
  font-family: $font-primary;
  font-weight: 400;
  line-height: 32px;
  text-transform: uppercase;
  background-color: $color-product-name-background;
}

.product__name {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 32px;
  color: $color-white;
  font-family: $font-secondary;
  font-weight: 900;
  margin: 0;
  height: 40px;
  width: 200px;
  flex-basis: auto;
  background-color: $color-product-name-background;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 13px;
}
.product__price {
  font-size: 18px;
  letter-spacing: 0px;
  line-height: 32px;
  color: $color-white;
  font-family: $font-secondary;
  font-weight: 900;
  text-align: center;
  margin: 0;
  flex-basis: auto;
  height: 40px;
  width: 55px;
  background: $color-price-background;
  padding-top: 4px;
  padding-bottom: 4px;
}
.product__link {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-decoration: none;
  width: 255px;
  &:hover .product__name,
  &:hover .product__name {
    background: $color-accent;
  }
  &:hover .product__price,
  &:hover .product__price {
    background: $color-price-hover;
  }
  &:hover .product__card-overlay::before {
    transform: translateY(0);
    transition: transform 250ms;
  }
  &:hover .actions {
    opacity: 1;
  }
}
